.app-set .v-icon-loading{animation:rotate 1.6s linear infinite;display:inline-block;font-size:20px;line-height:32px;vertical-align:middle}.app-set .loading-text{vertical-align:middle;display:inline-block}

