.check-wan{position:relative;text-align:center;padding:78px 15px 0;height:100%}.check-wan__loading{margin:24px 0}.check-wan__tips{display:inline-block;text-align:left;color:#333}.check-wan__footer{position:absolute;bottom:32px;left:0;width:100%;color:#ff801f}

