.form-text-group{margin-bottom:8px;line-height:22px;font-size:14px}.form-text-group::after{content:"";display:table;visibility:hidden;clear:both}.form-text__label{width:300px;text-align:right;display:inline-block;vertical-align:top}.form-text__content{display:inline-block;margin-left:20px}

.status-sub-title[data-v-007c11be]{padding-left:100px;font-weight:bold;line-height:24px}

