.vpn-set .v-icon-loading{animation:rotate 1.6s linear infinite;display:inline-block;font-size:18px;line-height:32px;vertical-align:bottom;color:#ff801f}

.v-page-table .v-icon-ok-line{color:#17cc82}.v-page-table .v-icon-ok-line:hover{color:#17cc82}.v-page-table .v-icon-disable{color:#f7421e}.v-page-table .v-icon-disable:hover{color:#f7421e}.pptp-server__dot{display:inline-block;width:6px;height:6px;border-radius:50%;background-color:silver;vertical-align:middle;margin-right:8px}.pptp-server__dot--success{background-color:#17cc82}

