.wan-advance__btn-warp{margin-bottom:10px;top:-6px}.wan-advance__text{text-align:right;color:#ff801f;padding:0}.wan-advance__text .icon-down-line{display:inline-block;padding:0px;z-index:3;transition:all 0.2s}.wan-advance__btn--expansion{-ms-transform:rotate(180deg);transform:rotateZ(180deg)}.wan-advance .help-text{margin-top:8px}

.wan .wan-status__text{line-height:34px;font-size:14px}.wan .wan-status__tips{font-size:14px;color:#8d8d8d;line-height:22px}

